/* Поехали */
body {
background: #ff3939;
}


font-family: Inter;
font-weight: 400;
font-style: Regular;
font-size: 16px;
leading-trim: NONE;
line-height: 135%;
letter-spacing: 0%;


/* main page */

